etc/bing_secret.txt
etc/twitterkeys
etc/crypt.key
etc/factoid_db_keys
inc/
META.yml
MYMETA.json
MYMETA.yml
Makefile
modules.lst
*.log
jail.ext4
var/asn.db
var/*.db
var/cache-fastmmap
langs/
*.swp
*.LOG
*.bak
