var/evallogs.db filter=lfs diff=lfs merge=lfs -text
var/tell.db filter=lfs diff=lfs merge=lfs -text
var/factoids.db filter=lfs diff=lfs merge=lfs -text
var/karma.db filter=lfs diff=lfs merge=lfs -text
var/perlpacks.db filter=lfs diff=lfs merge=lfs -text
var/seen.db filter=lfs diff=lfs merge=lfs -text
var/allowpaste.db filter=lfs diff=lfs merge=lfs -text
var/asn.db filter=lfs diff=lfs merge=lfs -text
var/hosts.db filter=lfs diff=lfs merge=lfs -text
var/pastes.db filter=lfs diff=lfs merge=lfs -text
